html {
	background-color: #888;
}




#fixed {
	background-color: #D3D3D3;
	padding: 30px;
	width: 90%;
	text-align:center;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#relative {
	background-color: #D3D3D3;
	padding: 30px;
	width: 90%;
	text-align:center;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#aboutme {
	background-color: #D3D3D3;
	padding: 20px;
	padding-bottom: 38px;
	width: 50%;
	text-align:center;
	margin-right: 0px;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 5px;
	position: relative;
	float: left;

}

#article {
	background: #888;
    text-align: left;
    width: 97%;
    height: 100px;
    float: left;
    display: inline;
    position: static;
    color: darkgrey;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px; 
    margin-top: 50px;
    padding-bottom:30%;
    padding-top:20px;
 }

 #heading {
	background: white;
    text-align: left;
    width: 93%;
    height: 10px;
    float: left;
    display: inline;
    position: static;
    color: darkgrey;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px; 
    margin-top: 70px;
    padding-bottom:30px;
    padding-top: 40px;
 }

 #text {
	background: white;
    text-align: left;
    width: 93%;
    height: 10px;
    float: left;
    display: inline;
    position: static;
    color: darkgrey;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px; 
    margin-top: 20px;
    padding-bottom:30px;
    padding-top: 40px;
 }


#contactme {
	background-color: #D3D3D3;
	padding: 40px;
	width: 34%;
	padding-bottom: 30%;
	text-align:center;
	margin-right: 34px;
	margin-left: 0px;
	margin-top: 15px;
	margin-bottom: 5px;
	position: relative;
	float: right;
	height: 80%;
}

#footer {
	background-color: #D3D3D3;
	padding: 30px;
	width: 90%;
	text-align:center;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 5px;
	float: left;

}
